{% extends "web/partials/base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Approval Failure" %}{% endblock %}

{% block content %}
<section class="layout-pt-lg layout-pb-lg bg-blue-2">
    <div class="container">
      <div class="row justify-center">
        <div class="col-xl-6 col-lg-7 col-md-9" style="  padding-top: 100px;">
          <div class="px-50 py-50 sm:px-20 sm:py-20 bg-white shadow-4 rounded-4">
            <div class="row y-gap-20">
<p>{% trans "Account Approval failed." %}</p>
</div>
</div>
</div>
</div>
</section>
{% endblock %}


{% comment %}
**registration/admin_approve.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
The activation key used during the activation attempt.
{% endcomment %}
