{% extends "web/partials/base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<form method="post" action="">
    <section class="layout-pt-lg layout-pb-lg bg-blue-2">
        <div class="container">
          <div class="row justify-center">
            <div class="col-xl-6 col-lg-7 col-md-9" style="  padding-top: 100px;">
              <div class="px-50 py-50 sm:px-20 sm:py-20 bg-white shadow-4 rounded-4">
                <div class="row y-gap-20">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" value="{% trans 'Change password' %}" class="button -md -blue-1 bg-dark-3 text-white">Change password</button>
            </div>
        </div>
      </div>
    </div>
  </section>
</form>
{% endblock %}


{%  block css %}
<style>
    input {
    border: 1px solid #d1d1d1 !important;
    border-radius: 4px;
    padding: 10px 20px;
}
</style>
{% endblock %}