{% extends "web/partials/base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Registration is closed" %}{% endblock %}

{% block content %}
<section class="layout-pt-lg layout-pb-lg bg-blue-2">
    <div class="container">
      <div class="row justify-center">
        <div class="col-xl-6 col-lg-7 col-md-9" style="  padding-top: 100px;">
          <div class="px-50 py-50 sm:px-20 sm:py-20 bg-white shadow-4 rounded-4">
            <div class="row y-gap-20">
<p>{% trans "Sorry, but registration is closed at this moment. Come back later." %}</p>
</div>
</div>
</div>
</div>
</section>
{% endblock %}
