{% load static %}

<header data-add-bg="" class="header bg-white js-header" data-x="header" data-x-toggle="is-menu-opened">
  <div data-anim="fade" class="header__container px-30 sm:px-20">
    <div class="row justify-between items-center">
      <div class="col-auto">
        <div class="d-flex items-center">
          <a href="{% url 'web:index' %}" class="header-logo mr-20" data-x="header-logo" data-x-toggle="is-logo-dark">
            <img src="{% static 'web/img/logo.png' %}" alt="logo icon">
            <img src="{% static 'web/img/logo.png' %}" alt="logo icon">
          </a>
          <div class="header-menu " data-x="mobile-menu" data-x-toggle="is-menu-active">
            <div class="mobile-overlay"></div>
            <div class="header-menu__content">
              <div class="mobile-bg js-mobile-bg"></div>

              <div class="menu js-navList">
                <ul class="menu__nav text-dark-1 -is-active">
                  <li>
                    <a href="{% url 'web:index'%}">
                      Home
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'web:cities' %}">
                      Cities
                    </a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="menu-item-has-children">
                    <a data-barba href="#">
                      <span class="mr-10">My Account</span>
                      <i class="icon icon-chevron-sm-down"></i>
                    </a>

                    <ul class="subnav">
                      <li class="subnav__backBtn js-nav-list-back">
                        <a href="#"><i class="icon icon-chevron-sm-down"></i> My Account</a>
                      </li>

                      <li><a href="{% url  'web:orders_list' %}">My Bookings</a></li>
                      <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                      <li><a href="/accounts/logout/">Logout</a></li>

                    </ul>

                  </li>
                  {% endif %}
                  <li>
                    <a href="{% url 'web:destinations' %}">
                      All  Destinations
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'web:contact' %}">
                      Contact
                    </a>
                  </li>

                </ul>
              </div>
              <div class="mobile-footer px-20 py-20 border-top-light js-mobile-footer">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-auto">
        <div class="d-flex items-center">
          <div class="d-flex items-center ml-20 is-menu-opened-hide lg:d-none">
            {% if user.is_authenticated %}
            <a href="/accounts/logout/" class=" button px-30 fw-400 text-14 -outline-blue-1 h-50 text-blue-1 ml-20">
              <img src="{% static 'web/img/dashboard/sidebar/log-out.svg' %}" alt="image" class="mr-15">
              Logout
            </a>
            {% else %}
            
            <a href=" {% url 'registration_register' %}"
              class="button px-30 fw-400 text-14 -blue-1 bg-blue-1 h-50 text-white">Sign In / Register</a>
            {% endif %}
          </div>
          <div class="d-none lg:d-flex x-gap-20 items-center pl-30" data-x="header-mobile-icons" data-x-toggle="text-white">
            <div>
              
                {% if user.is_authenticated %}
                <a href="/accounts/logout/" class="d-flex items-center icon-user text-inherit text-22"></a>
                {% else %}
                <a href="{% url 'registration_register' %}" class="d-flex items-center icon-user text-inherit text-22"></a>
                {% endif %}
            </div>
            <div><button class="d-flex items-center icon-menu text-20" data-x-click="html, header, header-logo, header-mobile-icons, mobile-menu"></button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>